<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <script src="public/scripts/main.js" defer></script>
    <title>DASHBOARD</title>
</head>
<body>
    <h1>DASHBOARD</h1>


<nav>
    <p>
        LOGO
    </p>
    <ul>
        <li>DASHBOARD</li>
        <li>USERS</li>
        <li>REPORTS</li>
    </ul>
    <div class = "container">
            <aside>
                <p>MOJ TOOLBAR</p>
            </aside>
            <main>
                <h1>DASHBOARD</h1>
                
            </main>
    </div>
</nav>

</body>
</html>