<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
    <title>LOGIN</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="public/img/logo.svg" alt="Logo" onerror="this.style.display='none'"> 
        </div>
        <form class="login-container" action="login" method="POST">
            <h1>LOGIN</h1>
            
            <div class="messages">
                <?php
                    if(isset($messages)){
                        echo $messages;
                    }
                ?>
            </div>
            <input type="hidden" name="csrf" value="<?= $_SESSION['csrf'] ?>">
            <input name="email" type="email" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <button type="submit">LOGIN</button>
            
            <a href="register" class="switch-form">No account? Register here</a>
        </form>
    </div>
</body>
</html>